{% extends 'base.html' %}

{% block content %}
<section class="item-section">
  <form class="item-form row" method="POST">
    <label for="category" class="col-xs-12 col-md-2">
      Select a category here:
    </label>
    <select name="category">
      {% for c in categories %}
        <option value="{{c.id}}" {% if c.id == item.category_id %}selected="selected"{% endif %}>{{c.name}}</option>
      {% endfor %}
    </select>
    <br>
    <br>
    <label for="link" class="col-xs-12 col-md-2">
      Paste link to image here:
    </label>
    <input type="text" name="link" class="col-xs-12 col-md-10" value="{{item.link}}">
    <br>
    <br>
    <label for="title" class="col-xs-12 col-md-2">
      Title of the work:
    </label>
    <input type="text" name="title" class="col-xs-12 col-md-10" value="{{item.title}}">
    <br>
    <br>
    <label for="artist" class="col-xs-12 col-md-2">
      Artist of the work:
    </label>
    <input type="text" name="artist" class="col-xs-12 col-md-10" value="{{item.artist}}">
    <br>
    <br>
    <label for="notes" class="col-xs-12">
      Your notes:
    </label>
    <textarea class="col-xs-12 notes" name="note">{{item.note}}</textarea>
    <br>
    <br>
    <label for="keywords" class="col-xs-12 col-md-2">
      Enter keywords:
    </label>
    <input type="text" name="keywords" class="col-xs-12 col-md-10" value="{{item.keywords}}">
    <br>
    <br>
    <label for="public" class="col-xs-8 col-md-3 col-lg-2">
      Make this item public*
    </label>
    <input type="checkbox" name="public" value="True" {% if item.public %}checked{% endif %}>
    <br>
    <br>
    <input type="submit" value="Save" class="col-xs-4">
  </form>
</section>

{% endblock %}
