{% extends 'base.html' %}

{% block content %}
<section class="item-section">
  <form class="item-form row" method="POST" action="{{url_for('new_item')}}" enctype=multipart/form-data>
    <br>
    <label for="category" class="col-xs-12 col-md-2">
      Select a category here:
    </label>
    <select name="category">
        <option value="0">Select a category</option>
      {% for c in categories %}
        <option value={{c.id}}>{{c.name}}</option>
      {% endfor %}
    </select>
    <label>
       or add a new category:
      <input type="text" name="newcategory" value="{{newcategory}}">
    </label>
    <label>
       make public
      <input type="checkbox" name="public-category" value="True">
    </label>
    <br>
    <br>
    <label class="col-xs-12">
      Paste link to image here (.png, .jpg/jpeg or .gif only):
      <input type="text" name="link" class="col-xs-12" placeholder="Only image files" value={{link}}>
    </label>
    <label class="col-xs-12">
      Or upload a file here (.png, .jpg/jpeg or .gif only, max 10MB)
      <input type="file" name="file">
    </label>
    <br>
    <br>
    <label for="title" class="col-xs-12">
      Title of the work:
      <input type="text" name="title" class="col-xs-12" value="{{title}}">
    </label>
    <br>
    <br>
    <label for="artist" class="col-xs-12">
      Artist of the work:
      <input type="text" name="artist" class="col-xs-12" value="{{artist}}">
    </label>
    <br>
    <br>
    <label for="notes" class="col-xs-12">
      Your notes:
      <textarea class="col-xs-12 notes" name="note">{{note}}</textarea>
    </label>
    <br>
    <br>
    <br>
    <label for="keywords" class="col-xs-12">
      Enter keywords:
      <input type="text" name="keywords" class="col-xs-12" value="{{keywords}}">
    </label>
    <br>
    <br>
    <label for="public" class="col-xs-12">
      <input type="checkbox" name="public" value="True">
       Make this item public*
    </label>
    <br>
    <br>
    <input type="submit" value="Save" class="col-xs-2 button">
  </form>
</section>

{% endblock %}
