{% extends 'base.html' %}

{% block content %}

<section class="signup-section">
  {% if 'provider' in session %}
    <form class="row signup-form" method='POST' action="{{url_for('complete_signup')}}">
      <label for="username" class="col-xs-12 col-md-2">
        Choose a username (required):
      </label>
      <input type="text" name="username" class="col-xs-12 col-md-10" value={{username}}>
      <p class="error">{{error}}</p>
      <p class="col-xs-12 text-small">
        This username will be displayed with your public posts.
      </p>
      <label for="about" class="col-xs-12">
        Tell us about yourself (optional):
      </label>
      <textarea name="about" class="col-xs-12">{{about}}</textarea>
      <p class="col-xs-12">
        We received the following information about you from
        {{session['provider']}}, which we will store in our database.
      </p>
      <p class="col-xs-3">Name: </p>
      <p class="col-xs-9">{{session['name']}}</p>
      <p class="col-xs-3">E-mail: </p>
      {% if 'emails' in session %}
        <label class="email-list">
          We have received the following e-mail addresses. Please pick one:
          <select name='email'>
            {% for email in session['emails'] %}
              <option value="{{email}}">{{email}}</option>
            {% endfor %}
          </select>
          (We will only store the one that you select and forget that we ever saw the others)
        </label>
      {% else %}
        <p class="col-xs-9">{{session['email']}}</p>
      {% endif %}
      <p class="col-xs-12">Link to your profile picture at {{session['provider']}}</p>
      <div class="col-xs-12 profile-pic-frame-big">
        <img src="{{session['picture']}}" class="profile-pic-preview">
      </div>
      <p class="col-xs-12">For more information read our page about
        <a href="{{url_for('privacy')}}">privacy</a>.</p>
      <p class="col-xs-12 disclaimer">By clicking submit you agree to the above</p>
      <input type="submit" value="Register" class="col-xs-3">
    </form>
  {% else %}
    <p class="col-xs-12 disclaimer">
      Please use the <a href="{{url_for('login')}}">login page</a> to log in and sign up with one of the supported
      services.
    </p>
  {% endif %}
</section>
{% endblock %}
