<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Bad+Script|Bungee+Shade" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>
      {% block title %}
        SO HUNGRY!
      {% endblock %}
    </title>
  </head>

  <body>
    <div class="container">

    <header>
      <h1><a href="{{url_for('showRestaurants')}}">SO HUNGRY!</a></h1>
    </header>

    <!-- flash messages -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}

        <div class="row">
          {% for message in messages %}
            <div class="col-xs-12 message-flash">{{message}}</div>
          {% endfor %}
        </div>
        <br>
        {% endif %}
      {% endwith %}

    <!-- content clock -->
      {% block content %}
      {% endblock %}
    </div>
<!-- Javascript at the end of the body -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
<!-- end of javascript -->
  </body>

</html>
