{% extends 'base.html' %}

{% block title %}
SO HUNGRY! - Delete menu item
{% endblock %}

{% block content %}
<div class="menu frame row">
  <section class="col-xs-12 subheader">
    <h2 class="restaurant-name">{{restaurant.name}}</h2>
  </section>

  <section class="col-xs-12 add-menu">

    <p class="page-description">Delete {{item.name}} from {{restaurant.name}}'s menu</p>
      <form action="{{url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=item.id)}}" method="POST" class="item-form">
        <p class="warning">
          Are you sure that you want to delete {{item.name}} from {{restaurant.name}}'s menu?
        </p>
        <input type="submit" value="Delete forever" class="delete-button">
      </form>
    </section>
  </div>
{% endblock %}
