{% extends 'base.html' %}

{% block title %}
SO HUNGRY! - Edit menu item
{% endblock %}

{% block content %}
  <h2>Edit {{item.name}} on {{restaurant.name}}'s menu</h2>
  <div class="item-form">
    <form action="#" method="POST">
      <table class="item-form-table">
        <tr>
          <td>
            <label for="name">Name: </label>
          </td>
          <td>
            <input type="text" name="name" value="{{item.name}}">
          </td>
        </tr>

        <tr>
          <td>
            <label for="course">Course: </label>
          </td>
          <td>
            <select name="course">
              <option value="">Select course</option>
              <option value="beverage">Beverage</option>
              <option value="appetizer">Appetizer</option>
              <option value="entree">Entree</option>
              <option value="dessert">Dessert</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <label for="description">Description: </label>
          </td>
          <td>
            <textarea name="description" class="item-description">{{item.description}}</textarea>
          </td>
          <tr>
            <td>
              <label for="price">Price: </label>
            </td>
            <td>
              <input type="text" name="price" value="{{item.price}}">
            </td>
          </tr>
          <tr>
            <td>
              <input type="submit" value="Edit item">
            </td>
          </tr>
        </table>
    </form>
  </div>

{% endblock %}
