{% extends 'base.html' %}

{% block title %}
SO HUNGRY! - Edit restaurant
{% endblock %}

{% block content %}
<div class="restaurant-list frame row">
  <section class="col-xs-12 subheader">
    <h2>Edit {{restaurant.name}}<h2>
  </section>

<div class="col-xs-12 restaurantform item-form">
  <form action="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}" method="POST">
    <label for="name" class="form-label">Enter name: </label>
    <input type="text" name="name" value="{{restaurant.name}}"  class="form-input">
    <br><br>
    <input type="submit" value="Submit"  class="form-submit">
  </form>
</div>
{% endblock %}
