{% extends 'base.html' %}

{% block title %}
SO HUNGRY! - Edit menu item
{% endblock %}

{% block content %}
<div class="menu frame row">
  <section class="col-xs-12 subheader">
    <h2 class="restaurant-name">{{restaurant.name}}</h2>
  </section>

  <section class="col-xs-12 add-menu">
  <p class="page-description">Edit {{item.name}} on {{restaurant.name}}'s menu</p>
    <form action="{{url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=item.id)}}" method="POST" class="item-form">
      <label for="name" class="form-label">Name: </label>
      <input type="text" name="name" class="form-input" value="{{item.name}}">
      <br><br>
      <label for="course" class="form-label">Course: </label>
      <select name="course" class="form-select">
        <option value="beverage">Beverage</option>
        <option value="appetizer">Appetizer</option>
        <option value="entree">Entree</option>
        <option value="dessert">Dessert</option>
      </select>
      <br><br>
      <label for="description" class="form-label">Description: </label>
      <textarea name="description" class="form-textarea">{{item.description}}</textarea>
      <br><br>
      <label for="price" class="form-label">Price: </label>
      <input type="text" name="price" class="form-input" value="{{item.price}}"">
      <br><br>
      <input type="submit" value="Edit item" class="form-submit">
    </form>
</section>
</div>

{% endblock %}
