<!-- TODO:THink about proper menu -->
<ul class="menu-ul col-xs-12">
  <li class="menu-li"><a href="{{url_for('index')}}">Home</a></li>
  <li class="menu-li"><a href="{{url_for('show_session')}}">Login Session</a></li>
  {% if 'user_id' in session %}
  <li class="menu-li"><a href="{{url_for('show_profile', user_id=session['user_id'])}}">User profile</a></li>
  {% endif %}
  <li class="menu-li"><a href="{{url_for('new_category')}}">New category</a></li>
  <li class="menu-li"><a href="{{url_for('new_item')}}">New item</a></li>
</ul>
