{% extends 'base.html' %}

{% block title %}
SO HUNGRY! - All Restaurants
{% endblock %}

{% block content %}
<div class="restaurant-list frame row">
  <section class="col-xs-12 subheader">
    <h2>Browse our restaurants</h2>
    <div class="add-link">
      <a href="{{url_for('newRestaurant')}}">Add restaurant</a>
    </div>
  </section>

  <section class="restaurant-list">
    {% for r in restaurants %}
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 restaurants">
      <div class="restaurant-one">
        <p class="restaurant-name"><a href="{{url_for('showMenu', restaurant_id=r.id)}}">{{r.name}}</a></p>
        <ul class="edit-delete-ul">
          <li class="edit-delete-li">
            <a href="{{url_for('editRestaurant', restaurant_id=r.id)}}" class="edit-delete">Edit</a>
          </li>
          <li class="edit-delete-li">
            <a href="{{url_for('deleteRestaurant', restaurant_id=r.id)}}" class="edit-delete">Delete</a>
          </li>
        </ul>
      </div>
    </div>
    {% endfor %}


{% endblock %}
